.heart {
    background-image: url(../public/images/logo/heart-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: contain;
    &:hover {
        animation: heart 500ms;
        transition: background-image 500ms;
        background-image: url(../public/images/logo/heart-2.png);
        cursor: pointer;
    }
}
.survol{
    opacity: 0.9;
    box-shadow: $opacity2;
}