$primaire : #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

$btn__explore: linear-gradient($secondaire, $primaire);

$opacity: 0px 3px 5px rgb(0, 0, 0, 0.4);
$opacity2:0px 5px 7px rgb(0, 0, 0, 0.6);
