/* shrikhand-regular - latin */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/shrikhand/shrikhand-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Shrikhand Regular"), local("Shrikhand-Regular"), url("/public/fonts/shrikhand/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/shrikhand/shrikhand-v6-latin-regular.woff2") format("woff2"), url("/public/fonts/shrikhand/shrikhand-v6-latin-regular.woff") format("woff"), url("/public/fonts/shrikhand/shrikhand-v6-latin-regular.ttf") format("truetype"), url("/public/fonts/shrikhand/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}
/* roboto-100 - latin */
@font-face {
  font-family: "Roboto-lite";
  font-style: normal;
  font-weight: 100;
  src: url("/public/fonts/roboto-v20-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"), url("/public/fonts/roboto-v20-latin-100.eot?#iefix") format("embedded-opentype"), url("/public/fonts/roboto-v20-latin-100.woff2") format("woff2"), url("/public/fonts/roboto-v20-latin-100.woff") format("woff"), url("/public/fonts/roboto-v20-latin-100.ttf") format("truetype"), url("/public/fonts/roboto-v20-latin-100.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("/public/fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("/public/fonts/roboto-v20-latin-regular.woff") format("woff"), url("/public/fonts/roboto-v20-latin-regular.ttf") format("truetype"), url("/public/fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
.header {
  text-align: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.header .header__img {
  height: 45%;
  width: 45%;
  padding: 1.5rem 0 0.7rem 0;
}

body {
  margin: 0;
}

h1 {
  display: none;
}

.localisation {
  margin-top: 3px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}
.localisation__btn {
  margin-right: 15px;
  opacity: 0.8;
}
.localisation__txt {
  font-family: "Roboto-lite", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .localisation__btn {
    margin-right: 20px;
    font-size: 25px;
  }
  .localisation__txt {
    font-size: 25px;
  }
}
.explore {
  text-align: center;
  background-color: #f6f6f6;
}
.explore__title {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2rem;
}
.explore__txt {
  font-family: "Roboto-lite", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.explore__btn {
  font-family: "Roboto-lite", Arial, Helvetica, sans-serif;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  font-size: 1rem;
  padding: 15px 20px 15px 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  border: 0px;
  border-radius: 25px;
  margin-bottom: 3rem;
  transition: opacity 250ms, box-shadow 250ms;
}
.explore__btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 768px) {
  .explore .explore__title {
    font-size: 40px;
  }
  .explore .explore__txt {
    font-size: 25px;
  }
  .explore .explore__btn {
    font-size: 25px;
  }
}

.selection {
  margin-top: 3rem;
  margin-left: 1rem;
  font-family: "Roboto-lite", Arial, Helvetica, sans-serif;
}
.selection__title {
  font-size: 1.5rem;
  margin-left: -1px;
  text-align: left;
}
.selection__btn {
  background-color: white;
  font-size: 1rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  border: 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  width: 90%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: box-shadow 250ms, background-color 250ms;
}
.selection__btn:hover {
  background-color: #f2eafb;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.6);
}
.selection__btn:hover i {
  color: #9356DC;
  opacity: 1;
}
.selection__btn:last-child {
  margin-bottom: 4.1rem;
}
.selection__txt {
  padding-left: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selection__txt i {
  font-size: 1.1rem;
  padding-right: 1rem;
  opacity: 0.6;
}
.selection__number {
  font-size: 13px;
  margin-left: -1rem;
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 12px 10px;
  line-height: 3px;
}
@media screen and (min-width: 768px) {
  .selection .selection {
    margin-left: 20%;
  }
  .selection .selection__title {
    padding-left: 5rem;
    font-size: 35px;
  }
  .selection .selection__btn {
    width: 60%;
    font-size: 1.3rem;
  }
  .selection .selection__txt {
    padding-left: 1.5rem;
  }
  .selection .selection__number {
    font-size: 18px;
    padding: 20px 15px;
  }
}
@media screen and (min-width: 1024px) {
  .selection .selection {
    margin-left: 25%;
  }
  .selection .selection__title {
    padding-left: 20%;
    font-size: 35px;
  }
  .selection .selection__btn {
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1.3rem;
  }
  .selection .selection__txt {
    padding-left: 3rem;
  }
  .selection .selection__txt i {
    padding-right: 3rem;
  }
}

.restaurant {
  padding-top: 2rem;
  background-color: #f6f6f6;
  padding-left: 1.5rem;
  padding-bottom: 3rem;
  font-family: "Roboto-lite", Arial, Helvetica, sans-serif;
  display: block;
}
.restaurant__sep {
  display: block;
}
.restaurant__title {
  font-size: 1.5rem;
  text-align: left;
}
.restaurant__div {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  border: 0px;
  border-radius: 25px;
  margin-bottom: 1.2rem;
  max-width: 95%;
  margin-left: 0;
  transition: opacity 300ms, visibility 0s 0.3s, box-shadow 0.3s;
}
.restaurant__div:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.6);
}
.restaurant__img {
  border-radius: 20px 20px 0 0;
  max-height: 11rem;
  width: 100%;
  object-fit: cover;
}
.restaurant__txt-title {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
}
.restaurant__txt-txt {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 0.7rem;
  margin-left: 1rem;
  font-family: "Roboto-lite", Arial, Helvetica, sans-serif;
}
.restaurant__fav {
  font-size: 1.3rem;
  float: right;
  margin-right: 1rem;
  margin-top: -3rem;
  color: white;
}
.restaurant__fav i {
  text-shadow: -1.5px 0 black, 0 1.2px black, 1.5px 0 black, 0 -1.5px black;
  transition: text-shadow 500ms, color 500ms;
}
.restaurant__fav :hover {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #9356DC;
  cursor: pointer;
  cursor: hand;
}
.restaurant__new {
  font-size: 0.9rem;
  position: absolute;
  z-index: 2;
  margin-left: 65%;
  font-weight: bold;
  background-color: #99E2D0;
  color: #278870;
  padding: 0.3rem 1.55rem;
  border-radius: 3px;
}
@media screen and (max-width: 320px) {
  .restaurant .restaurant__new {
    margin-left: 60%;
  }
}
@media screen and (min-width: 768px) {
  .restaurant .restaurant__title {
    font-size: 2.5rem;
    text-align: center;
  }
  .restaurant .restaurant__div {
    margin-bottom: 3rem;
    margin-left: 1%;
  }
  .restaurant .restaurant__img {
    border-radius: 20px 20px 0 0;
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
  }
  .restaurant .restaurant__txt-title {
    font-size: 1.5rem;
  }
  .restaurant .restaurant__txt-txt {
    font-size: 1.5rem;
  }
  .restaurant .restaurant__fav {
    font-size: 2rem;
    margin-right: 1.4rem;
  }
  .restaurant .restaurant__new {
    font-size: 1.5rem;
    margin-left: 75%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant .restaurant__title {
    padding-bottom: 2rem;
  }
  .restaurant .restaurant__div {
    max-width: 45%;
    margin-right: 2rem;
  }
  .restaurant .restaurant__sep {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurant .restaurant__img {
    border-radius: 20px 20px 0 0;
    max-height: 15rem;
    width: 100%;
    object-fit: cover;
  }
  .restaurant .restaurant__new {
    font-size: 1.3rem;
    margin-left: 33%;
    font-weight: bold;
    background-color: #99E2D0;
    color: #278870;
    padding: 0.3rem 1.55rem;
    border-radius: 3px;
  }
}

.footer {
  background-color: #353535;
  padding-bottom: 1rem;
  padding-left: 0;
  font-family: "Roboto-lite", Arial, Helvetica, sans-serif;
}
.footer__img {
  width: 100px;
  height: auto;
  margin: 1.5rem 0 0 2rem;
  filter: invert(100%);
  padding-left: 0;
}
.footer__ul {
  list-style: none;
  padding-left: 2rem;
}
.footer__ul .fas {
  font-size: 0.7rem;
  margin-right: 6%;
  width: 3px;
}
.footer__li {
  margin: 0;
  color: #ffffff;
  padding-bottom: 0.4rem;
  font-size: 1rem;
}
.footer__li-font {
  margin-right: 5rem;
}
.footer__li:nth-child(4) {
  padding-bottom: 0rem;
}
@media screen and (min-width: 768px) {
  .footer .footer__img {
    width: 200px;
  }
  .footer .footer__li {
    font-size: 1.5rem;
  }
  .footer .footer__ul i {
    font-size: 1.3rem;
  }
  .footer .footer__ul .fas {
    font-size: 1rem;
    margin-right: 2%;
    width: 3px;
  }
}

.fa-arrow-left {
  float: left;
  font-size: 1.3rem;
  padding-top: 1.7rem;
  padding-left: 1.1rem;
  opacity: 80%;
}

.image__contenue {
  max-width: 100%;
  margin-bottom: -55px;
  z-index: -1;
  position: relative;
}

.gen {
  z-index: 1;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 25px 25px 0 0;
  background-color: #eaeaea;
}
.gen__title {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  padding-top: 1rem;
  font-size: 1.2rem;
}
.gen__title h2 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}
.gen__title p {
  font-size: 1.5rem;
}
.gen .menu {
  padding-bottom: 1rem;
}
.gen .menu__title {
  margin-top: 0;
}
.gen .menu__spam {
  padding-bottom: 6px;
  line-height: 3rem;
  border-bottom: 3px solid #99E2D0;
}
.gen .menu__cont {
  background-color: rgba(255, 255, 255, 0.831);
  border-radius: 15px;
  padding: 0.2rem 0 0.2rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  transition: opacity 250ms, box-shadow 250ms, visibility 250ms;
}
.gen .menu__cont:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.6);
}
.gen .menu__cont:hover .valid {
  visibility: visible;
}
.gen .menu__cont:hover .menu__cont-prix {
  visibility: hidden;
}
.gen .menu__cont:hover h3 {
  width: 75%;
}
.gen .menu__cont h3 {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-family: "Roboto-lite", Arial, Helvetica, sans-serif;
}
.gen .menu__cont-txt {
  display: flex;
  justify-content: space-between;
}
.gen .menu__cont-txt p {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}
.gen .menu__cont-prix {
  font-family: "Roboto-lite", Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding-right: 1rem;
}
.gen .menu__buttun {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1.7rem;
}
.gen .menu__buttun__order {
  text-align: center;
  width: 45%;
  font-family: "Roboto-lite", Arial, Helvetica, sans-serif;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  font-size: 1rem;
  padding: 15px 20px 15px 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  border: 0px;
  border-radius: 25px;
  margin-bottom: 3rem;
  transition: opacity 250ms, box-shadow 250ms;
}
.gen .menu__buttun__order:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.6);
}

.valid {
  background-color: #99E2D0;
  float: right;
  margin-top: -65.5px;
  width: 20%;
  height: 4.3rem;
  border-radius: 0 14px 14px 0;
  visibility: hidden;
  z-index: 1;
}
.valid i {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  font-size: 1.5rem;
  color: #FFF;
}

/*# sourceMappingURL=style.css.map */
