@keyframes start {
    0% {
       opacity: 0;
       transform: translateY(300%);
       transform-origin: bottom;
   }
   30%{
       opacity: 0;
   }
   70% {
       opacity: 0.4;
   }
   100% {
       opacity: 1;
       transform: translateY(0%);
       transform-origin: bottom;
   }
}