/* footer */


.footer {
    background-color: #353535;
    padding-bottom: 1rem;
    padding-left: 0;
    font-family: $txt;
    

    &__img {
        z-index: 1;
        width: 100px;
        height: auto;
        margin: 1.5rem 0 0 2rem;
        filter: invert(100%);
        padding-left: 0;
    }

    &__ul {
        list-style: none;
        padding-left: 2rem;

        .fas {
            font-size: 0.75rem;
            margin-right: 6%;
            width: 3px;
        }
    }

    &__li {
        margin: 0;
        color: #ffffff;
        padding-bottom: 0.4rem;
        font-size: 0.95rem;

        &-font {
            margin-right: 5rem;
        }

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    &__li:nth-child(4) {

        padding-bottom: 0rem;
    }

    @media screen and (min-width: 768px) {
        .footer {
            &__img {
                width: 200px;
            }

            &__li {
                font-size: 1.5rem;
            }

            &__ul {

                i {
                    font-size: 1.3rem;
                }

                .fas {
                    font-size: 1rem;
                    margin-right: 2%;
                    width: 3px;
                }
            }
        }
    }

    @media screen and (min-width: 2560px) {
        .footer {
            &__img {
                width: 400px;
            }

            &__li {
                font-size: 2.5rem;
            }

            &__ul {

                i {
                    font-size: 2.5rem;
                }

                .fas {
                    font-size: 2rem;
                    margin-right: 2%;
                    width: 3px;
                }
            }
        }
    }
}