.fa-arrow-left{
    float: left;
    font-size: 1.3rem;
    padding-top: 1.7rem;
    padding-left: 1.1rem;
    opacity: 80%;
}

.image{
    &__contenue{
        width: 100%;
        height: 18rem;
        margin-bottom: -70px;
        z-index: -1;
        position: relative;
        object-fit: fill;
    }
}

.gen{
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 25px 25px 0 0;
    background-color: #eaeaea;
    &__title{
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
        padding-top: 1rem;
        font-size: 1.2rem;
        h2{
            font-family: $title;
        }
        p{
            font-size: 1.5rem;
        }
        i{
            padding-top: 2.5rem;
            color: #eaeaea;
            text-shadow: -1.5px 0 black, 0 1.2px black,1.5px 0 black, 0 -1.5px black;
            transition: text-shadow 500ms, color 500ms;
        }
        i:hover{
            text-shadow: -1px 0 white, 0 1px white,1px 0 white, 0 -1px white ;
            color: $primaire;
            cursor: pointer; 
            cursor: hand;
        }
    }

    .menu{
        padding-bottom: 1rem;
        &__title{
            margin-top: 0;
            font-family: $title;
        }
        &__spam{
            padding-bottom: 6px;
            line-height: 3rem;
            border-bottom: 3px solid $tertiaire;
        }
        &__cont{
            height: 4rem;
            background-color: rgba(255, 255, 255, 0.831);
            border-radius: 15px;
            padding: 0.2rem 0 0.2rem 1rem;
            margin-bottom: 1rem;
            box-shadow: $opacity;
            &:hover{
                opacity: 0.9;
                box-shadow: $opacity2;
                .valid{
                    visibility: visible;
                    width: 20%;
                }
                .menu__cont-prix{
                    visibility: hidden;
                }
                h3{
                    width: 75%;
                }
                p{
                    max-width: 80%;
                }
            }
            h3{
                width: 90%;
                overflow:hidden;
                text-overflow: ellipsis;
                white-space:nowrap;
                margin-top: 0.5rem;
                margin-bottom: 0;
                font-family: $txt;
            }
            &-txt{
                display: flex;
                justify-content: space-between;
                font-family: $txt;
                font-weight: 100;
                p{
                    margin-bottom: 0.4rem;
                    margin-top: 0.4rem;
                    
                }
                :nth-child(1){
                    overflow:hidden;
                    text-overflow: ellipsis;
                    white-space:nowrap;
                    width: content;
                    max-width: 80%;
                }
            }
            &-prix{
                font-family: $txt;
                font-weight: 500;
                padding-right: 1rem;
            }
            .valid{
                background-color: $tertiaire;
                float: right;
                margin-top: -65.5px;
                height: 4.6rem;
                width: 0;
                border-radius: 0 14px 14px 0;
                visibility: hidden;
                i{
                    padding-left: 35%;
                    padding-top: 1.5rem;
                    font-size: 1.5rem;
                    color: #FFF;
                }
            }
        }
        &__buttun{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 1.7rem;
            &__order{
                text-align: center;
                width: 45%;
                font-family: $txt;
                background: $btn__explore;
                color: #FFF;
                font-size: 1rem;
                padding: 15px 20px 15px 20px;
                box-shadow: $opacity;
                border: 0px;
                border-radius: 25px;
                margin-bottom: 3rem;
                transition: opacity 250ms, box-shadow 250ms; 
                &:hover{
                    opacity: 0.9;
                    box-shadow: $opacity2;
                }
            }
            
            
        }
    }
}

   