.fa-arrow-left{
    float: left;
    font-size: 1.3rem;
    padding-top: 1.7rem;
    padding-left: 1.1rem;
    opacity: 80%;
    color: black;
}

.image{
    &__contenue{

        width: 100%;
        height: 18rem;
        margin-bottom: -70px;
        z-index: -1;
        position: relative;
        object-fit: fill;
    }
}

.gen{
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 25px 25px 0 0;
    background-color: #eaeaea;
    &__title{
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
        padding-top: 1rem;
        font-size: 1.2rem;
        h2{
            font-family: $title;
        }
        p{
            font-size: 1.5rem;
        }
        i{
            padding-top: 2rem;
            color: #eaeaea;
            text-shadow: -1.5px 0 black, 0 1.2px black,1.5px 0 black, 0 -1.5px black;
            transition: text-shadow 500ms, color 500ms;
        }
        i:hover{
            text-shadow: -1px 0 white, 0 1px white,1px 0 white, 0 -1px white ;
            color: $primaire;
            cursor: pointer;
        }
    }

    .menu{
        transition: translate ;
        padding-bottom: 0;
        animation: start 1s;
        &__title{
            margin-top: 0;
            font-family: $txt;
            font-weight: 100;
            opacity: 0.8;
        }
        &__spam{
            padding-bottom: 6px;
            line-height: 3rem;
            border-bottom: 3px solid $tertiaire;
        }
        
        &__cont{
            transition: start 3s ease-in;
            @keyframes start {
                0%,95% {
                    opacity: 0;
                    transform: translateY(-120%);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0%);
                }
        	}
            overflow: hidden;
            max-height: 4.1rem;
            background-color: rgba(255, 255, 255, 0.831);
            border-radius: 15px;
            padding: 0.2rem 0 0.2rem 1rem;
            margin-bottom: 1rem;
            box-shadow: $opacity;
            transition: opacity 130ms, box-shadow 130ms;
            &:hover{
                opacity: 0.9;
                box-shadow: $opacity2;
                &:hover p:nth-child(1){
                    max-width: 60%;
                }
            }
            h3{
                width: 90%;
                overflow:hidden;
                text-overflow: ellipsis;
                white-space:nowrap;
                margin-top: 0.5rem;
                margin-bottom: 0;
                font-family: $txt;
                font-weight: 600;
                font-size: 1.1rem;
            }
            &:hover h3{
                width: 60%;
            }
            &-txt{
                display: flex;
                justify-content: space-between;
                font-family: $txt;
                font-weight: 100;
                p{
                    transition: max-width 130ms, transform 900ms;
                    margin-bottom: 0.4rem;
                    margin-top: 0.4rem;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    white-space:nowrap;
                    max-width: 80%;
                    font-size: 1rem;
                }
            }
            &-prix{
                font-family: $txt;
                font-weight: 700;
                padding-right: 1rem;
            }
            &:hover .menu__cont-prix{
                transform: translateX(-120%);
            }
            .valid{
                transition: transform 1s;
                display: flex;
                float: right;
                margin-top: -4rem;
                visibility: hidden;
                height: 4.6rem;
                width: 6rem;
                border-radius: 0 14px 14px 0;
                background-color: $tertiaire;
                transform: translateX(100%);
            }
            &:hover .valid{
                visibility: visible;
                transform: translateX(40%);
            }
            i{
                padding-left: 20%;
                padding-right: 20%;
                padding-top: 1.5rem;
                font-size: 1.5rem;
                color: #eaeaea;
                
            }
            &:hover i{
                animation: tour 1.5s;
                animation-iteration-count: 1;
                @keyframes tour {
                        0% { transform: rotate(0deg); }
                        100% { transform: rotate(360deg); }
                    	}
            }
        }
        &__buttun{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 1.7rem;
            transition: opacity 130ms, box-shadow 130ms;
            &__order{
                width: 45%;
                text-align: center;
                font-family: $txt;
                background: $btn__explore;
                color: #FFF;
                font-size: 1rem;
                padding: 15px 20px 15px 20px;
                box-shadow: $opacity;
                border: 0px;
                border-radius: 25px;
                margin-bottom: 3rem;
                transition: opacity 250ms, box-shadow 250ms; 
                &:hover{
                    opacity: 0.9;
                    box-shadow: $opacity2;
                }
            }
            
            
        }
    }
}

   