@media screen and (min-width: 768px){
    .image{
        &__contenue{
            height: 30rem;
            object-fit: cover;
    }
    }
    .gen{
        padding-left: 20%;
        padding-right: 20%;
        }
    .menu{
        &__title{
            text-align: center;
        }
    } 
}
@media screen and (min-width: 1440px){
    .fa-arrow-left{
        float: left;
        font-size: 5rem;
        padding-top: 5rem;
        padding-left: 3rem;
        opacity: 80%;
        color: black;
    }
    .gen{
        padding-left: 20%;
        padding-right: 20%;
        &__title{
            font-size: 2rem;
            h2{
                font-family: $title;
            }
            p{
                font-size: 1.5rem;
            }
            .img{
                width: 80px;
                height: 80px;
                padding-top: 12rem;
                background-image: url(../public/images/logo/heart-1.png);
                background-size: 80px 80px;
                background-position:center center;
                background-repeat: no-repeat;
                object-fit: fill;
                cursor: pointer;
                &:hover{
                    transition: all 850ms linear 0s;
                    animation: heart 850ms linear;
                    background-image: url(../public/images/logo/heart-2.png);
                }
            }   
        }
        .menu{
    
            &__title{
                font-size: 2rem;
            }
            &__cont{
                margin-bottom: 2rem;
                height: 6.1rem;
                h3{
                    font-size: 1.4rem;
                }
    
                &-txt{
                    p{
                        font-size: 1.4rem;
                        margin-top: 1rem;
                    }
                }
                .valid{
                    margin-top: -5.5rem;
                    height: 7rem;
                    width: 8rem;
                }
                i{
                    padding-top: 2.5rem;
                    font-size: 2rem;
                }
            }
            &__buttun{
                &__order{
                    width: 30%;
                    font-size: 1.5rem;
                    }
            }
        }
    }
}
@media screen and (min-width: 2560px){
    .gen{
        &__title{
            font-size: 4rem;
            h2{
                font-family: $title;
            }
            p{
                font-size: 5rem;
            }
            
        }
        .menu{
    
            &__title{
                font-size: 3rem;
            }
            &__cont{
                margin-bottom: 2rem;
                height: 6.1rem;
                h3{
                    font-size: 2rem;
                }
                &-txt{
                    p{
                        font-size: 2rem;
                        margin-top: 1rem;
                    }
                }
                .valid{
                    margin-top: -7rem;
                    height: 7rem;
                    width: 8rem;
                }
                i{
                    padding-top: 2.5rem;
                    font-size: 2rem;
                }
            }
            &__buttun{
                &__order{
                    width: 30%;
                    font-size: 2.5rem;
                    }
            }
        }
    }
}
        
    
        
    


    
