@media screen and (min-width: 768px){
    .image{
        &__contenue{
            height: 30rem;
            object-fit: cover;
    }
    }
    .gen{
        padding-left: 20%;
        padding-right: 20%;
        }
      
}
@media screen and (min-width: 1440px){
    .fa-arrow-left{
        float: left;
        font-size: 3rem;
        padding-top: 3rem;
        padding-left: 1.1rem;
        opacity: 80%;
        color: black;
    }
    .gen{
        padding-left: 20%;
        padding-right: 20%;
        &__title{
            font-size: 2rem;
            h2{
                font-family: $title;
            }
            p{
                font-size: 1.5rem;
            }
            
        }
        .menu{
    
            &__title{
                font-size: 2rem;
            }
            &__cont{
                margin-bottom: 2rem;
                h3{
                    font-size: 1.4rem;
                }
    
                &-txt{
                    p{
                        font-size: 1.4rem;
                    }
                }
                .valid{
                    margin-top: -4.6rem;
                }
            }
            &__buttun{
                &__order{
                    width: 30%;
                    font-size: 1.5rem;
                    }
            }
        }
    }
}
        
    
        
    


    
